<h1><%=@park.name%></h1>
<h4>Admission Price: $<%=@park.admission_price.to_s%>.00</h4>

<h3>Rides:</h3>
  <%@park.ordered_rides.each_with_index do |ride, index|%>
    <h4><%=(index + 1)%>: <%=ride.name%></h4>
  <%end%><br><br>

<h4>Average Ride Thrill Rating: <%=@park.average_thrill_rating.round(1)%></h4>
