<h1>About <%=@mechanic.name%></h1>
<h4>Years of Expierience: <%=@mechanic.years_of_expierence%></h4>
<h4>Rides Currently Working On</h4>

<%@mechanic.rides.each do |ride|%>
  <%=ride.name%><br>
<%end%>

<%= form_tag("/mechanics/#{@mechanic.id}", method: :patch) do %><br>
  <%= label_tag :ride_id%><br>
  <%= text_field_tag :ride_id %><br>

  <%= submit_tag 'Add Ride' %><br>
<% end %>
